body{
    background-color: beige;
    color: rgb(74, 37, 37);
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 40px;

}
h1 {
    color: rgb(74, 37, 37);
    letter-spacing: 2px;
    font-size: 50px;
}

h3 {
    color: #bfa76a;
    font-style: italic;
}

.start-btn{
    background-color: rgb(111, 47, 47);
    color: beige;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.start-btn:hover{
    background-color: crimson;
    transform: scale(1.05);
}
#gameArea {
    
    margin-top: 40px;
}



.section {
    background: #6b0f0f;
    color: beige;
    border: 2px solid #8c6b3d;
    border-radius: 12px;
    padding: 20px;
    width: 75%;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);

}

h2 {
    color: beige;
}
.evidence-btn{
    background-color: rgb(44, 73, 44);
    color: beige;
    border: 2px solid beige;
    padding: 15px;
    margin: 10px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.evidence-btn:hover {
    background-color: rgb(45, 138, 45);
    color: beige;
    transform: translateY(-3px);
} 

