body{
    background-color: brown;
    color: beige;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}
h1 {
    color: beige;
}
button{
    background-color: beige;
    color: brown;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: crimson;
}